/**
 * Site header
 */

.container{
  display: grid;
  position: relative;
  max-height:1000px;
  margin: auto;
  grid-gap: 10px;
  grid-template: repeat(20, 1fr) / repeat(7, 1fr);

}

.site-header { 
 /* display:grid;*/
  font-size: 20px;
 /* height:100px;*/
  display:flex;
  grid-gap: 1px;
  width:100%;
  position:fixed;
  float:left;
  padding:20px;
  background-color:rgb(255, 255, 128);
  justify-content:space-between;
 /* grid-area: 1 / 1 / 2/8;*/
}


.site-title {
    grid-area: 1 / 1 / 2/3;
    font-size: 20px;
    height:50px;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;

    &,
    &:visited {
        color: #008000;
    }
}  
   .site-menu1 {
    grid-area: 1 / 2 / 2/3;
    font-size: 20px;
    height:50px;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
}

.site-menu2 {
    font-size: 20px;
    grid-area: 1 / 3 / 2/4;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
    justify-content:space-evenly;
}

.site-menu3 {
    font-size: 20px;
    grid-area: 1 / 4 / 2/5;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
    justify-content:space-evenly;
}

.site-menu4 {
    font-size:20px;
    grid-area: 1 / 5 / 2/6;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
    justify-content:space-evenly;
}

/*.site-nav1 {
    display:grid;
    font-size: 20px;
    grid-area: 1 / 6 / 2/7;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
}

.site-nav2 {
    display:grid;
    font-size: 20px;
    grid-area: 1 / 7 / 2/8;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
}*/

.menu-icon {
    font-size: 20px;
    grid-area: 1 / 6 / 2/7;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
    justify-content:space-evenly;
}

.trigger {
    font-size: 20px;
    grid-area: 1 / 7 / 2/8;
    height:50px;
    position:flex;
    letter-spacing: -1px;
    padding:20px;
    background-color:#72DF2A;
    display:inline-block;
    justify-content:space-evenly;
}

   .site-nav {
/*    font-size: 16px;
    height:56px;
    width:100px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: right;
    background-color:#99992e;
    display:inline-block;
  
    z-index:4;
  justify-items:start; */
  
  /*  .menu-icon {
    align-content:end;
  
    } */

/*    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

    } */

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

     /*       > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            } */
        }

  /*      .trigger {
            clear: both;
            display: inline;
            background-color:#72DF2A;
        } 

        &:hover .trigger {
            display: inline;
            padding-bottom: 5px;
        } */

        .page-link {
            margin-top:100px;
            display: inline;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.site-main{
    width:100%;
    background-color:rgb(255, 255, 128);
    grid-area: 9 / 1 / 15/8;
} 
  

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    width:100%;
    grid-area: 15 / 1 / 21/8;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
